.benefit {
  text-align: center;

  @include phones {
    margin-bottom: rem(35px);
  }
}

.benefit__image {
  margin-bottom: rem(10px);

  @include phones {
    margin-right: rem(20px);
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.benefit__title {
  font-weight: 700;
  font-size: rem(24px);
  margin-bottom: rem(10px);

  @include phones {
    text-align: left;
    font-size: rem(24px);
  }

}

.benefit__desc {
  text-align: center;
  font-weight: 400;
  font-size: rem(16px);
  margin-bottom: rem(36px);
  line-height: 1.1;

  @include phones {
    text-align: left;
  }
}