.features {
  display: flex;
}

.features__item {
  margin-right: rem(40px);

  &:last-child {
    margin-right: 0;
  }
}

.feature {
  display: flex;
  align-items: center;
  font-family: 'Play', sans-serif;

  @include tablets {
    display: none;
  }
}

.feature__icon {
  margin-right: rem(7px);
}

.listening-icon {
  width: rem(39px);
  height: rem(39px);
}

.charging-icon {
  width: rem(39px);
  height: rem(39px);
}

.plug-icon {
  width: rem(39px);
  height: rem(39px);
}

.listeting-icon {
  display: block;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(89px);
}