.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10%;

  @include tablets {
    margin-bottom: rem(160px);
  }
  @include phones {
    margin-bottom: rem(73px);
  }
}

.menu {
  margin: 0 rem(30px);
  padding-top: rem(5px);
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  font-family: 'Alegreya Sans', sans-serif;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  white-space: nowrap;
}

.phone-number {
  display: flex;
  align-items: center;
  padding-top: rem(5px);
  padding-left: rem(9px);
  padding-right: rem(26px);
}

.header__phone-number {
  @include tablets {
    display: none;
  }
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: rem(13px);
  height: rem(13px);
  margin-right: rem(6px);
}

.phone-number__text {
  white-space: nowrap;
}