.headline {
  text-align: center;
  margin-bottom: rem(10px);
}

.headline__title {
  margin-bottom: rem(5px);

  @include phones {
    font-size: rem(32px);
    font-weight: 700;
  }

  @include phones {
    font-size: rem(33px);
  }
}

.headline__subtitle {
  font-weight: 400;
  font-size: rem(16px);
  margin-bottom: rem(63px);
  padding: 0 22%;

  @include tablets {
    padding: 0 11%;
  }
  @include phones {
    padding: 0 3%;
  }
}