.interactive-avatar {
  width: rem(74px);
  height: rem(74px);
  border: rem(6px) solid transparent;

  &:hover {
    border-color: #E01F3D;
    border-radius: 50%;
  }
}

.active {
  border-color: #E01F3D;
  border-radius: 50%;
}