.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-weight: 700;
  font-size: rem(48px);
  text-transform: uppercase;
  margin-bottom: rem(60px);
  text-align: center;
}