.teams__section {
  height: 100vh;
  min-height: rem(642px);
}

.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__title {
  font-weight: 700;
  font-size: rem(48px);
  color: #292929;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(53px);
}

.team__list {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.team__list-mobile {
  display: none;
}

.team__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 23%;

}

.team__avatar {
  margin-bottom: rem(25px);
}

.team__name {
  position: relative;
  font-size: rem(18px);
  color: #000;
  font-weight: bold;
  margin-bottom: rem(11px);
  cursor: pointer;

  &:after {
    position: absolute;
    bottom: rem(8px);
    right: rem(-15px);
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid red;
    transition: 0.5s;
  }
}

.team__content {
  text-align: center;
  position: absolute;
  top: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;

}

.team__content-text {
  color: #666;
}

.team__content-open>.team__name:after {
  transform: rotateX(180deg);
  transition: 0.5s;
}
